body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.important{
  color: red;
  font-size: bold;
}

input:focus{
   background: rgba(0, 118, 255, 0.35);
}

fieldset{
    width: 650px;
    border: 1px solid #0076ff;
    margin-top: 10px;
}

label{
    display: inline-block;
    width: 35%;
    text-align: right;
}

input{
    margin: 2px;
}

.error{
  background:#fafafa;
  font-family: 'Patrick Hand', cursive;
  color:red
}

/*Enlace a repositorio github*/

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*Botón enviar*/
input#enviar{
  margin-top: 10px;
  cursor:pointer; 
  padding:5px 25px; 
  background:#35b128;
  border:1px solid #33842a;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
  -moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
  box-shadow: 0 0 4px rgba(0,0,0, .75);
  color:#f3f3f3;
  font-size:1.1em;
}


input#enviar:hover, input#enviar:focus{
background-color :#399630; 
-webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
box-shadow: 0 0 1px rgba(0,0,0, .75);
}